<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.triplanner.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.TripPlan"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.BusSchedule"
            android:label="Check Schedule" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.ShowStation"
            android:label="Nearby Stations" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.SearchPlaces"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.ShowRoute"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.ShowTable"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.ShowTableRow"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.triplanner.ShowTableColon"
            android:label="Trip View" >
            <intent-filter>
                <action android:name="android.intent.action.ANY_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>